@import '../core/core.scss';

canvas {
  display: block;
}

.content {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin-top: -32px;
  float: left;
  padding: 37px 20px 0 20px;
}
.inputs {
  border-right: 1px solid #ccc;
  box-shadow: 1px 0 0 #fff;

  label {
    display: block;
  }
}

#palette {
  $size: 40px;

  padding: 0;
  height: $size * 5;
  
  &:hover {
    cursor: pointer;
  }
  li {
    position: relative;
    display: inline-block;
    width: $size;
    height: $size;
    float: left;
    
    &:nth-child(6n-5) {
      clear: left;
    }
    &:hover::after {
      pointer-events: none;
      position: absolute;
      left: 10px;
      top: -30px;
      content: attr(data-name);
      padding: 2px 10px 2px 10px;
      background: {
        color: #fea;
        clip: padding-box;
      }
      border: {
        left: 20px solid #fea;
        bottom: 20px solid transparent;
      }
      white-space: nowrap;
      text-indent: -20px;
    }
  }
  .color-use {
    background: {
      image: url('data:image/svg+xml,<svg viewBox="-3 -3 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M2,6L0,6L4,10L10,0L8,0L4,8Z" fill="%2339f" stroke="%23000" stroke-width="0.25"/></svg>');
      size: 100% 100%;
    }
  }
  .color-checked-light::before,
  .color-checked-dark::before {
    content: '';
    display: block;
    height: $size;
    -webkit-transform: skewX(45deg);
    transform: skewX(45deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  .color-checked-light::before {
    border-left: 1px solid black;
  }
  .color-checked-dark::before {
    border-left: 1px solid white;
  }
}
#amount {
  padding: 0;
  list-style: none;
}
.button {
  @include button(#ccc);
  margin: 5px auto;
}